#header {
   
    background: rgb(0,62,89);
    color: #ffffff;
    
}

#branding h1{

	color: #ffffff;
}

div.breadcrumbs {
    background: rgb(62, 88, 106);
    padding: 10px 40px;
    border: none;
    color: #ffffff;
    text-align: left;
}

.module h2, .module caption, .inline-group h2{

	background: rgb(62, 88, 106);
}