{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Enter E-Mail to get reset link!</h4>
        </div>




        <form action="" method="post">
          {% csrf_token %}
          {% include 'partials/_messages.html' %}

         
          
         <center> {{form}} </center>

         <br/>

          <input type="submit" value="Send Link.." class="btn btn-block btn-primary submit-btn" />
        </form>


        <div class="container">
        <span class="text-lead lead">Already have an account? <a href="{% url 'login' %}">&nbsp; Login</a></span>
          <hr>
          <span class="text-lead lead">Create New Account<a href="{% url 'register' %}"> &nbsp; Create Account.</a></span>

        </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}